<tr>
	<td><%= servico.paciente.nome %></td>
	<td class="data"><%= l(servico.data) if servico.data %></td>
	<td><%= servico.servico.nome %></td>
	<td><%= servico.profissional.nome %></td>
	<td></td>
</tr>
